{% extends 'base.html.twig' %}

{% block body %}

<main>

	<div class="container" style="min-height: 92vh;">
        <h1 class="logo">Osadnicy</h1>
        <p class="text-center">
            Rozbuduj swoją osadę i rywalizuj z innymi graczami
            pnąc się po szczeblach rankingu.
        </p>

        <div class="text-light row justify-content-center">
            <div class="col-0 col-md-2"></div>
            <div class="main-div col-12 col-md-8 bg-primary text-center">
				<form method="post">
				    {% if error %}
				        <div class="alert alert-danger">
				            {{ error.messageKey|trans(error.messageData, 'security') }}
				        </div>
				    {% endif %}

				    <label for="inputNick">Login</label>
				    <input type="text"
				    value="{{ last_username }}"
				    name="nick"
				    id="inputNick"
				    class="form-control"
				    autocomplete="nick"
				    required autofocus>

				    <label for="inputPassword">Hasło</label>
				    <input type="password"
				    name="password"
				    id="inputPassword"
				    class="form-control"
				    autocomplete="current-password"
				    required>

				    <input type="hidden" name="_csrf_token"
				           value="{{ csrf_token('authenticate') }}"
				    >

				    {#
				        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
				        See https://symfony.com/doc/current/security/remember_me.html

				        <div class="checkbox mb-3">
				            <label>
				                <input type="checkbox" name="_remember_me"> Remember me
				            </label>
				        </div>
				    #}

				    <button class="btn btn-lg btn-primary" type="submit">
				        Zaloguj się
				    </button>
				</form>

                <p class="mt-5"><a href="reset_password.php">Zapomniałeś hasła?</a></p>

                <p>
                    <i class="fa fa-user-plus" style="font-size:24px"></i>
                    <a href="/register">Rejestracja - załóż darmowe konto</a>
                </p>
            </div>
        </div>

    </div>

</main>

{% endblock %}
