<div class="row">
    <div class="col-md-3">Drewno {{ app.user.wood }}</div>
    <div class="col-md-3">Kamień {{ app.user.stone }}</div>
    <div class="col-md-3">Zboże {{ app.user.creral }}</div>
    <div class="col-md-3">Chwała {{ app.user.glory }}</div>
</div>
