<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Osadnicy</title>
        <meta name="description" content="Gra przeglądarkowa.">
        <meta name="keywords" content="osadnicy, gra">
        <meta name="author" content="Janusz Siek">
        <meta http-equiv="X-Ua-Compatible" content="IE=edge">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js"></script>
        {% block script %}{% endblock %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&amp;subset=latin-ext" rel="stylesheet">

    </head>
    <body>
        {% block body %}{% endblock %}
        <footer>
            <div class="stopka py-3 text-center footer-bottom">
                Janusz Siek
            </div>
        </footer>
    </body>
</html>
